<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome')%></h1>
  <p class="lead">Este é o "crypto wallet", uma aplicação para cadastro de cripto-moedas</p>
  <hr class="my-4">

  <%= render "menu"%>
</div>

